@tailwind components;

@layer components {
  .featureImageWrapper {
    @apply w-full max-w-[700px] aspect-[70/45] my-8 mx-auto;
  }
  .btn {
    @apply text-sm md:text-base whitespace-nowrap px-7 py-2.5 md:px-10 md:py-4 font-semibold rounded-lg transition-all duration-300;
  }
  .btn-primary {
    @apply text-white bg-[#FF693B] border border-[#FF693B] hover:bg-white hover:text-[#FF693B];
  }
  .btn-secondary {
    @apply text-[#FF693B] border border-[#FF693B] hover:bg-[#FF693B] hover:text-white;
  }
  .custom-rotate {
    background: linear-gradient(90deg, #2f4c9d 0%, #0a2c8c 100%);
    clip-path: polygon(0 23%, 100% 14%, 100% 90%, 0 80%);
    padding: 20px;
    color: #fff;
  }
  .demo {
    height: 200px !important;
  }
  .line-break {
    display: block;
    margin-bottom: 0.1em;
  }
  .service-sec {
    padding: 10% 0 !important;
  }
  .portfolio-bgHover {
    @apply group-hover:bg-[#FF693B] transition-all duration-300;
  }
  .portfolio-textHover {
    @apply group-hover:text-white transition-all duration-300;
  }
  .order_title {
    @apply text-[#95979D] font-Raleway text-base font-semibold;
  }
  .cross-btn {
    @apply bg-white text-black rounded-full flex justify-center items-center p-2.5 h-11 w-11;
  }
  .whyChoseUS_one,
  .whyChoseUS_two,
  .service_section,
  .notfound,
  .login_singUp {
    @apply bg-cover bg-center w-full;
  }
  .whyChoseUS_one {
    background-image: url("/assets/why1.png");
    height: 300px;
  }
  .whyChoseUS_two {
    background-image: url("/assets/why2.png");
    height: 300px;
  }
  .service_section {
    background-image: url("/assets/servicePageBg.jpg");
  }
  .notfound {
    background-image: url("/assets/Login.jpg");
    height: 100vh;
  }
  .login_singUp {
    background-image: url("/assets/login.jpg");
    height: 100%;
  }
  .active {
    color: red;
  }
  .swiper-slide-container {
    position: relative;
  }
  .swiper-slide-image {
    cursor: pointer;
  }
  .popup-container {
    @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center;
  }
  .popup-content {
    @apply bg-white p-5 rounded-lg shadow-lg;
  }
  .popup-content img {
    @apply max-w-full max-h-full;
  }
  .image-gallery-thumbnail .image-gallery-thumbnail-image {
    @apply w-full line-height-0 rounded-lg;
  }
  .swiper {
    @apply w-full h-full;
  }
  .swiper-slide {
    @apply flex justify-center items-center bg-white;
  }
  .swiper-slide img {
    @apply block w-full h-full object-cover;
  }
  .custom-margin {
    margin-left: 0% !important;
  }
  .no-margin {
    margin-left: 10% !important;
  }
  .no-margin2 {
    margin-left: 5% !important;
  }
}
