@media only screen and (max-width: 2500px) {
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 50px !important;
    width: 50px !important;
    background: #fff !important;
    color: black;
    border-radius: 100%;
  }
  /* .image-gallery-left-nav {
    left: -1vw !important;
  }
  .image-gallery-right-nav {
    right: -3vw !important;
  } */
  .mySwiper_serviceSlider {
    height: 591px !important;
  }
  .mySwiper_blogSlider {
    height: 450px !important;
  }
}
@media only screen and (max-width: 1500px) {
  .custom-margin {
    margin-left: 0% !important;
  }
  .no-margin {
    margin-left: 0% !important;
  }
  .no-margin2 {
    margin-left: 0% !important;
  }
}

@media only screen and (max-width: 1024px) {
  .project_title {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 30px !important;
    width: 30px !important;
    background: #fff !important;
    color: black;
    border-radius: 100%;
  }

  .swiper-slide {
    display: flex !important;
    justify-content: center !important;
  }

  .testimonial_mySwiper {
    height: 480px !important;
  }

  .image-gallery-thumbnails {
    padding: 12px 0 !important;
  }
  .image-gallery-thumbnail .image-gallery-thumbnail-image,
  .blur_thumb {
    height: 40px !important;
  }
  .react-international-phone-country-selector-dropdown {
    margin-top: 18px !important;
    width: 308px !important;
  }
  .project_title {
    display: inline;
  }
  .custom-content-container {
    font-size: 16px; /* Adjust this value as needed */
  }

  .custom-content-container h1 {
    font-size: 24px;
  }

  .custom-content-container h2 {
    font-size: 18px;
    padding: 8px 0 !important;
  }

  .custom-content-container h3 {
    font-size: 18px;
  }
  .custom-content-container p {
    padding: 25px 0 !important;
  }

  /* Add more selectors as needed */

  .custom-content-container [style*="font-size:"] {
    font-size: inherit !important;
  }
  .ql-editor .ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 0 !important;
  }
  /* combo */
  .combo_mySwiper {
    height: 100% !important;
  }

  .pricing_bg {
    background-image: url("/assets/pricingBg.png");
    background-repeat: no-repeat;
    background-size: center;
    background-position: center;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin-top: 120px;
  }
  .comboDeals {
    background-image: url("/assets/comboDeals.png");
    background-repeat: no-repeat;
    background-size: center;
    background-position: inherit;
    z-index: -1;
    height: 100%;
    width: 100%;
  }
  .combo_hero {
    height: auto; /* Allow height to adjust to content */
    min-height: 100vh; /* Ensure it covers full viewport height on mobile */
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
}

@media only screen and (max-width: 425px) {
  .service_section {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    z-index: -1;
    width: 100%;
  }
  .login_singUp {
    background-image: none;
  }
  .ql-editor p {
    padding: 2px 0 !important;
  }
  .ql-editor ol li:not(.ql-direction-rtl),
  .ql-editor ul li:not(.ql-direction-rtl) {
    padding-left: 0.5em !important;
  }
}
