@tailwind utilities;

@layer utilities {
  .animate-ripple {
    animation: ripple 3s linear infinite;
  }
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  .custom-justify {
    text-align: justify;
    text-justify: inter-word;
  }
  .swiper-pagination-bullet-active {
    background: #ff693b !important;
  }
  .ql-editor p > img,
  video {
    width: 100% !important;
  }
  .ql-container.ql-snow {
    border: none !important;
  }
  [type="checkbox"],
  [type="radio"] {
    color: #ff693b !important;
  }
  .ql-editor {
    padding: 5px 0 !important;
  }
  .ql-editor p {
    padding: 5px 0 !important;
    line-height: 1.6;
    font-family: "Nunito", Helvetica, Arial, Lucida, sans-serif !important;
    font-size: 17px;
  }
  .ql-editor p,
  .ql-editor ol,
  .ql-editor ul,
  .ql-editor pre,
  .ql-editor blockquote,
  .ql-editor h1,
  .ql-editor h3,
  .ql-editor h4,
  .ql-editor h5,
  .ql-editor h6 {
    margin: 8px 0 !important;
  }
  .ql-editor h2 {
    margin: 10px 0 !important;
    font-size: 26px !important;
  }
  input:focus {
    outline: none;
    border-color: #ccc;
    box-shadow: none;
  }
}
